@import url('https://fonts.googleapis.com/css2?family=Katibeh&family=Lexend+Tera:wght@200;400;600;700&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,100&display=swap');


.App {
  margin: 0;
  padding: 0;
  width: 100%;
  position: relative;
}

/* .main{
  height: 100%;
  display: flex;
  margin-top: 75px;
  position: relative;
}

.content{
  width: 50%;
}

.content h2{
  font-family: 'Montserrat', sans-serif;
  color: #0E465DFA;
  font-size: 20px;
  line-height: 16.6px;
  letter-spacing: 18.5%;
  font-weight: 700;
  margin-left: 50px;
} */



